:root {
	background-color: #181818;
	color: rgba(255, 255, 255, 0.87);
	color-scheme: light dark;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-synthesis: none;
	font-weight: 400;
	line-height: 1.5;
	text-rendering: optimizeLegibility;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
	:root {
		background-color: #f8f8f8;
		color: #181818;
	}
}

input[type="text"],
textarea {
	width: 100%;
	padding: 8px;
	box-sizing: border-box;
	font-family: inherit;
}

textarea {
	font-family: monospace;
}

pre {
	margin: 0;
	white-space: pre-wrap;
	word-break: break-word;
}
